@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

/* Importaciones de fuentes */
/* Títulos */
@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

/* Texto */
@font-face {
  font-family: 'league-spartan';
  src: url('/fonts/league-spartan.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* Tipografía */
  --font-title: var(--font-primary);
  --font-text: var(--font-secondary);

  /* Colores */
  /* Primarios */
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  /* Secundarios */
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Generales */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-cyan: var(--cyan);
  --color-cyan-foreground: var(--cyan-foreground);
  --color-cyan-50: var(--cyan-50);
  --color-cyan-30: var(--cyan-30);

  --color-blue: var(--blue);
  --color-blue-foreground: var(--blue-foreground);

  --color-gray: var(--gray);
  --color-gray-foreground: var(--gray-foreground);
  --color-gray-60: var(--gray-60);
  --color-gray-30: var(--gray-30);
  --color-gray-10: var(--gray-10);

  --color-yellow: var(--yellow);
  --color-yellow-foreground: var(--yellow-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  /* Colores de componentes */
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* Tipografía */
  --font-primary: 'montserrat', 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
  --font-secondary: 'league-spartan', 'Roboto', 'Ubuntu', Arial, sans-serif;

  /* Colores base */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --primary: oklch(31.58% 0.101 254.09);
  --primary-foreground: oklch(0.985 0 0);
  --primary-80: oklch(45.75% 0.079 250.49);
  --primary-70: oklch(59.9% 0.057 249.65);
  --primary-60: oklch(73.88% 0.037 248.32);
  --primary-50: oklch(87.14% 0.018 248.03);
  --primary-40: oklch(93.47% 0.009 247.92);

  --secondary: oklch(0.6315 0.1459 250.85);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --secondary-80: oklch(0.7013 0.118 249.17);
  --secondary-70: oklch(0.7747 0.087 247.99);
  --secondary-60: oklch(0.8476 0.0582 248.52);
  --secondary-50: oklch(0.9239 0.0277 248.13);

  --gray: oklch(32.11% 0 0);
  --gray-foreground: oklch(1 0 0);
  --gray-80: oklch(51.03% 0 0);
  --gray-70: oklch(68.3% 0 0);
  --gray-60: oklch(84.52% 0 0);
  --gray-50: oklch(96.12% 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  /* Colores de componentes */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.2858 0.101 254.09);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* Colores */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  /* Otros */
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  /* Componentes */
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-text;
  }
}